#header .logo h1 {
    line-height: 1.5 !important;
}

#header.header-scrolled {
    background: rgba(30, 67, 86, 1) !important;
    height: 60px !important;
}

#hero {
    height: auto !important;
}

.portfolio {
    padding-bottom: 0px !important;
}

.portfolio .portfolio-item {
    /* height: 300px !important; */
    background: none !important;
    min-height: auto !important;
    padding: 10px 40px !important;
}
.portfolio-item > p {
    margin-top: 10px !important;
}

.bg-white {
    background-color: #fff !important;
}

.py-30 {
    padding-top: 30% !important;
    padding-bottom: 30% !important;
}

#hero::after {
    background-image: linear-gradient(to right, rgba(30, 67, 86, 1), rgba(30, 67, 86, 0.9)), url("../images/light.jpeg") !important;
    background-position: initial !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.features .row+.row {
    margin-top: 10px !important;
}

.generate-csv-table th, .generate-csv-table td {
    padding: 15px !important;
}

.table > thead {
    --bs-table-color: #fff;
    --bs-table-bg: #212529;
    --bs-table-border-color: #373b3e;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: var(--bs-table-color);
    border-color: var(--bs-table-border-color);
}

.accordion-list {
    padding: 0 100px 60px 100px;
}

.accordion-list ul {
    padding: 0;
    list-style: none;
}

.accordion-list li {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 10px !important;
}

.accordion-list a.collapsed {
    color: #343a40;
}

.accordion-list a {
    display: block;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 18px !important;
    line-height: 24px;
    font-weight: bold;
    padding-right: 30px;
    outline: none;
    cursor: pointer;
}

.accordion-list a.collapsed:hover {
    color: #47b2e4;
}

.collapse:not(.show) {
    display: none;
}

.accordion-list span {
    color: #47b2e4;
    font-weight: bold;
    font-size: 18px;
    padding-right: 10px;
}

.accordion-list i {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
}

.about-imgs-section {
    padding: 20px 0px !important;
}

.about-imgs-section .img-item:hover img {
    opacity: 0.6;
    transform: scale(1.1);
}

.about-imgs-section .img-item img {
    transition: all 0.3s ease-in-out;
}

.accordion-list-sub {
    padding: 20px !important;
}

.accordion-list li {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    background: #fff;
}

.accordion-list-sub li {
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
    background: #fff;
}

.accordion-list-sub a {
    font-size: 16px !important;
}

.accordion-list-sub span {
    font-size: 16px !important;
}

.about-us-section section {
    padding: 30px 0px !important;
}

.about-us-detail a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    font-weight: normal !important;
    font-size: medium !important;
    display: inline !important;
    padding-right: 0px !important;
}

.about-us-detail a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.accordion-list-sub p {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.about-us-detail ul {
    list-style-type: disc !important;
    padding: 10px 40px !important;
}
.about-us-detail li {
    box-shadow: none !important;
    display: list-item !important;
    padding: 0px !important;
    margin-bottom: 0px !important;

}

.section-title h4 {
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 20px;
    position: relative;
}

.section-title h5 {
    font-size: 1.25rem;
    font-weight: 400;
    padding-bottom: 20px;
    position: relative;
}

.section-title h4::before, .section-title h5::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

.section-title h4::after, .section-title h5::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #68A4C4;
    bottom: 0;
    left: calc(50% - 20px);
}

.accordion-list-sub h6 {
    padding-left: 20px !important;
    margin: 10px 0px 0px 0px !important;
}

.about-us-toggle-link {
    color: #007bff !important;
}

.about-us-toggle-link:hover {
    color: #0056b3 !important;
}

.accordion-list-sub .row-div {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.progressBarDiv a {
    display: none !important;
}

.progressBarDiv > div {
    padding-bottom: 0px !important;
    padding-top: 50px !important;
}

.upload-main .portfolio {
    padding-bottom: 0px !important;
}

.upload-main .portfolio .section-title {
    padding-bottom: 0px !important;
}