.result-table th:not(:first-child), .result-table td:not(:first-child) {
  text-align: center;
}
.result-table th:last-child, .result-table td:last-child {
  text-align: right;
}
.result-table td {
  font-variant-numeric: tabular-nums;
}
