table.errors {
  table-layout: fixed;
}

#errors {
  display: none;
}

#file-upload {
  border: 1px solid #ddd;
  padding: 1rem;
}

.promode-label {
  border:1px solid #ccc;
  padding:10px;
  margin:0 0 10px;
  /* display:block;  */
  width: fit-content;
}

.promode-label:hover {
  background:#eee;
  cursor:pointer;
}

.overlay {
  text-align: center;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  z-index: 10;
}

.overlay h1 {
  color: white;
}

.loading-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 220px;
  height: 220px;
  animation: spin 2s linear infinite;
}

.form-control-sm {
  display: inline-block !important;
  width: auto !important;
  vertical-align: middle !important;
}

.upload-main section {
  padding: 30px 0px !important;
}

.cvg {
  padding-top: 0px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}